.hub-icon-container {
  width: 100px;
  height: 100px;
}

.subscribe-hub-button {
  border: 2px solid #222831;
  background-color: #d65a31;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  min-width: 132px;
  text-align: center;
}

.subscribe-hub-button:hover {
  background-color: #393e46;
  color: #eeeeee;
  font-size: 16px;
}
