.comment-like-button {
  text-decoration: none;
  border: none;
  background-color: #393e46;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 700;
  width: 30px;
  cursor: pointer;
  margin-top: 4px;
  margin-left: 16px;
}

.comment-like-button:hover {
  background-color: #d65a31;
  color: black;
}
